/*Le body ne contient que l'image de fond */
body{
  background-image: url(img/plandesvitraux2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*overflow-x: hidden;*/
}
/*Partie avec le css de base de la 1ere div*/
#div000{
	display: inline-block;
  width: 40px;
  height: 20px;
  margin-top: 8.5%;
  margin-left: 46.5%;
  position: absolute;
}
#p000{
	margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail000{
  width: 40px;
  height: 20px;
}
/*Partie css de la 1ere div avec les hovers*/
#div000:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 0;
  margin-left: 43%;
  position: absolute;
  z-index: 3;
}
#div000:hover #p000{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div000:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 1ere div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div000{
    margin-top: 7.7%;
    margin-left: 46.4%;
  }
  #vitrail000{
    width: 20px;
    height: 14px;
    top: 0;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div000{
    margin-top: 4%;
    margin-left: 44%;
  }
  #vitrail000{
    width: 14px;
    height: 8px;
    top: 0;
  }
  #div000:hover{
    width: 100px;
    margin-left: 30%;
    position: absolute;
    z-index: 6;
  }
}
/*css de base pour la deuxieme div*/
#div001{
	display: inline-block;
  width: 40px;
  height: 20px;
  margin-top: 11.6%;
  margin-left: 38.8%;
  position: absolute;
  transform: rotate(-45deg);
}
#p001{
	margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
}
#vitrail001{
  width: 40px;
  height: 20px;
}
/*Partie css de la 2eme div avec les hovers*/
#div001:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 0;
  margin-left: 34%;
  position: absolute;
  z-index: 3;
  transform: none;
}
#div001:hover #p001{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div001:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 2eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div001{
    margin-top: 10.4%;
    margin-left: 38%;
  }
  #vitrail001{
    width: 24px;
    height: 15px;
    top: 0;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div001{
    margin-top: 4%;
    margin-left: 35%;
  }
  #vitrail001{
    width: 14px;
    height: 8px;
    top: 0;
  }
  #div001:hover{
    width: 100px;
    margin-left: 30%;
    position: absolute;
    z-index: 6;
  }
}
/*css de base de la 3eme div*/
#div002{
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-top: 11.6%;
  margin-left: 54.2%;
  position: absolute;
  transform: rotate(45deg);
}
#p002{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail002{
  width: 40px;
  height: 20px;
}
/*Partie css de la 3eme div avec les hovers*/
#div002:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 0;
  margin-left: 50%;
  position: absolute;
  transform: none;
  z-index: 6;
}
#div002:hover #p002{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div002:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 3eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div002{
    margin-top: 11.6%;
    margin-left: 53.4%;
  }
  #vitrail002{
    width: 25px;
    height: 14px;
    top: 0;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div002{
    margin-top: 9.3%;
    margin-left: 50.2%;
  }
  #vitrail002{
    width: 14px;
    height: 8px;
    top: 0;
  }
  #div002:hover{
    width: 100px;
    margin-left: 30%;
    position: absolute;
    z-index: 6;
  }
}
/*css de base de la 4eme div*/
#div003{
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-top: 19%;
  margin-left: 35.4%;
  position: absolute;
  transform: rotate(90deg);
}
#p003{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail003{
  width: 40px;
  height: 20px;
}
/*Partie css de la 4eme div avec les hovers*/
#div003:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 10%;
  margin-left: 30%;
  position: absolute;
  transform: none;
}
#div003:hover #p003{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div003:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 4eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div003{
    margin-top: 18.8%;
    margin-left: 34%;
  }
  #vitrail003{
    width: 25px;
    height: 14px;
    top: 0;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div003{
    margin-top: 18.8%;
    margin-left: 29%;
  }
  #vitrail003{
    width: 14px;
    height: 8px;
    top: 0;
  }
  #div003:hover{
    width: 100px;
    margin-left: 30%;
    position: absolute;
    z-index: 3;
  }
}
/*css de base de la 5eme div*/
#div004{
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-top: 19%;
  margin-left: 57.5%;
  position: absolute;
  transform: rotate(90deg);
  z-index: 3;
}
#p004{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail004{
  width: 40px;
  height: 20px;
}
/*Partie css de la 5eme div avec les hovers*/
#div004:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 10%;
  margin-left: 53%;
  position: absolute;
  transform: none;
}
#div004:hover #p004{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div004:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 5eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div004{
    margin-top: 18.8%;
    margin-left: 56%;
  }
  #vitrail004{
    width: 25px;
    height: 14px;
    top: 0;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div004{
    margin-top: 18.8%;
    margin-left: 52%;
  }
  #vitrail004{
    width: 14px;
    height: 7px;
    top: 0;
  }
  #div004:hover{
    width: 100px;
    margin-left: 30%;
    position: absolute;
    z-index: 3;
  }
}
/*css de base de la 6eme div*/
#div011{
  display: inline-block;
  width: 40px;
  height: 2px;
  margin-top: 40.7%;
  margin-left: 14.4%;
  position: absolute;
  transform: rotate(90deg);
}
#p011{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail011{
  width: 40px;
  height: 20px;
}
/*Partie css de la 6eme div avec les hovers*/
#div011:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 24%;
  margin-left: 10%;
  position: absolute;
  transform: none;
  z-index: 3;
}
#div011:hover #p011{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div011:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 6eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div011{
    margin-top: 41.4%;
    margin-left: 13.1%;
  }
  #vitrail011{
    width: 20px;
    height: 14px;
    top: 0;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div011{
    margin-top: 42.4%;
    margin-left: 10%;
  }
  #vitrail011{
    width: 10px;
    height: 8px;
    top: 0;
  }
  #div011:hover{
    width: 100px;
    margin-left: 2%;
    position: absolute;
    z-index: 3;
  }
}
/*css de base de la 7eme div*/
#div012{
  display: inline-block;
  width: 15px;
  height: 4px;
  margin-top: 39.7%;
  margin-left: 80.9%;
  position: absolute;
  transform: rotate(90deg);
}
#p012{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail012{
  width: 40px;
  height: 20px;
}
/*Partie css de la 7eme div avec les hovers*/
#div012:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 24%;
  margin-left: 76%;
  position: absolute;
  transform: none;
  z-index: 3;
}
#div012:hover #p012{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div012:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 7eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div012{
    margin-top: 39.6%;
    margin-left: 80.2%;
  }
  #vitrail012{
    width: 20px;
    height: 14px;
    top: 0;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div012{
    margin-top: 39%;
    margin-left: 79.6%;
  }
  #vitrail012{
    width: 10px;
    height: 8px;
    top: 0;
  }
  #div012:hover{
    width: 100px;
    margin-left: 60%;
    position: absolute;
    z-index: 3;
  }
}
/*css de base de la 8eme div*/
#div013{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 52%;
  margin-left: 14.4%;
  position: absolute;
  transform: rotate(90deg);
}
#p013{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail013{
  width: 40px;
  height: 20px;
}
/*Partie css de la 8eme div avec les hovers*/
#div013:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 46%;
  margin-left: 10%;
  position: absolute;
  transform: none;
  z-index: 3;
}
#div013:hover #p013{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div013:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 8eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div013{
    margin-top: 51.9%;
    margin-left: 13.2%;
  }
  #vitrail013{
    width: 20px;
    height: 14px;
    top: 0;
  }
  #div013:hover{
    margin-top: 46%;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div013{
    margin-top: 50%;
    margin-left: 10.4%;
  }
  #vitrail013{
    width: 10px;
    height: 8px;
    top: 0;
  }
  #div013:hover{
    width: 100px;
    margin-top: 44%;
    margin-left: 1%;
    position: absolute;
    z-index: 3;
  }
}
/*css de base de la 9eme div*/
#div014{
  display: inline-block;
  width: 15px;
  height: 4px;
  margin-top: 52%;
  margin-left: 80.9%;
  position: absolute;
  transform: rotate(90deg);
}
#p014{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail014{
  width: 40px;
  height: 20px;
}
/*Partie css de la 9eme div avec les hovers*/
#div014:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 46%;
  margin-left: 76%;
  position: absolute;
  transform: none;
  z-index: 3;
}
#div014:hover #p014{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div014:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 9eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div014{
    margin-top: 52%;
    margin-left: 80.2%;
  }
  #vitrail014{
    width: 20px;
    height: 14px;
    top: 0;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div014{
    margin-top: 52%;
    margin-left: 79.6%;
  }
  #vitrail014{
    width: 10px;
    height: 8px;
    top: 0;
  }
  #div014:hover{
    width: 100px;
    margin-left: 60%;
    position: absolute;
    z-index: 3;
  }
}
/*css de base de la 10eme div*/
#div015{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 63.8%;
  margin-left: 14.4%;
  position: absolute;
  transform: rotate(90deg);
}
#p015{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail015{
  width: 40px;
  height: 20px;
}
/*Partie css de la 9eme div avec les hovers*/
#div015:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 60%;
  margin-left: 10%;
  position: absolute;
  transform: none;
}
#div015:hover #p015{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div015:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 9eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div015{
    margin-top: 63.2%;
    margin-left: 13.2%;
  }
  #vitrail015{
    width: 20px;
    height: 14px;
    top: 0;
  }
  #div015:hover{
    margin-left: 10%;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div015{
    margin-top: 62%;
    margin-left: 10.4%;
  }
  #vitrail015{
    width: 10px;
    height: 8px;
    top: 0;
  }
  #div015:hover{
    width: 100px;
    margin-left: 2%;
    position: absolute;
    z-index: 3;
  }
}
/*css de base de la 11eme div*/
#div016{
  display: inline-block;
  width: 15px;
  height: 4px;
  margin-top: 64%;
  margin-left: 80.9%;
  position: absolute;
  transform: rotate(90deg);
}
#p016{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail016{
  width: 40px;
  height: 20px;
}
/*Partie css de la 11eme div avec les hovers*/
#div016:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 60%;
  margin-left: 76%;
  position: absolute;
  transform: none;
}
#div016:hover #p016{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div016:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 11eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div016{
    margin-top: 63.7%;
    margin-left: 80.2%;
  }
  #vitrail016{
    width: 20px;
    height: 14px;
    top: 0;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div016{
    margin-top: 63%;
    margin-left: 79.6%;
  }
  #vitrail016{
    width: 10px;
    height: 8px;
    top: 0;
  }
  #div016:hover{
    width: 100px;
    margin-left: 60%;
    position: absolute;
    z-index: 3;
  }
}
/*css de base de la 12eme div*/
#div017{
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-top: 77%;
  margin-left: 25.7%;
  position: absolute;
  transform: rotate(90deg);
}
#p017{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail017{
  width: 40px;
  height: 20px;
}
/*Partie css de la 12eme div avec les hovers*/
#div017:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 75%;
  margin-left: 20%;
  position: absolute;
  transform: none;
  z-index: 3;
}
#div017:hover #p017{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div017:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 12eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div017{
    margin-top: 77.5%;
    margin-left: 24.8%;
  }
  #vitrail017{
    width: 20px;
    height: 14px;
    top: 0;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div017{
    margin-top: 76.2%;
    margin-left: 22.9%;
  }
  #vitrail017{
    width: 10px;
    height: 8px;
    top: 0;
  }
  #div017:hover{
    width: 100px;
    margin-left: 4%;
    margin-top: 70%;
    position: absolute;
    z-index: 3;
  }
}
/*css de base de la 13eme div*/
#div018{
  display: inline-block;
  width: 10px;
  height: 24px;
  margin-top: 76.5%;
  margin-left: 69%;
  position: absolute;
  transform: rotate(90deg);
}
#p018{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail018{
  width: 40px;
  height: 20px;
}
/*Partie css de la 13eme div avec les hovers*/
#div018:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 75%;
  margin-left: 64%;
  position: absolute;
  transform: none;
  z-index: 3;
}
#div018:hover #p018{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div018:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 13eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div018{
    margin-top: 76%;
    margin-left: 68.2%;
  }
  #vitrail018{
    width: 20px;
    height: 14px;
    top: 0;
  }
  #div018:hover{
    margin-left: 63%;
    z-index: 3;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div018{
    margin-top: 72.5%;
    margin-left: 66%;
  }
  #vitrail018{
    width: 10px;
    height: 8px;
    top: 0;
  }
  #div018:hover{
    width: 100px;
    margin-left: 52%;
    margin-top: 70%;
    position: absolute;
    z-index: 3;
  }
}
/*css de base de la 14eme div*/
#div019{
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-top: 89%;
  margin-left: 25.7%;
  position: absolute;
  transform: rotate(90deg);
}
#p019{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail019{
  width: 40px;
  height: 20px;
}
/*Partie css de la 14eme div avec les hovers*/
#div019:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 84%;
  margin-left: 20%;
  position: absolute;
  transform: none;
  z-index: 3;
}
#div019:hover #p019{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div019:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 14eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div019{
    margin-top: 89.2%;
    margin-left: 24.8%;
  }
  #vitrail019{
    width: 20px;
    height: 14px;
    top: 0;
  }
  #div019:hover{
    margin-top: 85%;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div019{
    margin-top: 88%;
    margin-left: 22.9%;
  }
  #vitrail019{
    width: 10px;
    height: 8px;
    top: 0;
  }
  #div019:hover{
    width: 100px;
    margin-left: 4%;
    margin-top: 70%;
    position: absolute;
    z-index: 3;
  }
}
/*css de base de la 15eme div*/
#div020{
  display: inline-block;
  width: 10px;
  height: 24px;
  margin-top: 90%;
  margin-left: 69%;
  position: absolute;
  transform: rotate(90deg);
}
#p020{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail020{
  width: 40px;
  height: 20px;
}
/*Partie css de la 15eme div avec les hovers*/
#div020:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 84%;
  margin-left: 64%;
  position: absolute;
  transform: none;
  z-index: 3;
}
#div020:hover #p020{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div020:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 15eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div020{
    margin-top: 89%;
    margin-left: 68.2%;
  }
  #vitrail020{
    width: 20px;
    height: 14px;
    top: 0;
  }
  #div020:hover{
    margin-left: 63%;
    margin-top: 85%;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div020{
    margin-top: 86%;
    margin-left: 66%;
  }
  #vitrail020{
    width: 10px;
    height: 8px;
    top: 0;
  }
  #div020:hover{
    width: 100px;
    margin-left: 52%;
    margin-top: 70%;
    position: absolute;
    z-index: 3;
  }
}
/*css de base de la 16eme div*/
#div021{
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-top: 101%;
  margin-left: 25.7%;
  position: absolute;
  transform: rotate(90deg);
}
#p021{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail021{
  width: 40px;
  height: 20px;
}
/*Partie css de la 16eme div avec les hovers*/
#div021:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 98%;
  margin-left: 20%;
  position: absolute;
  transform: none;
  z-index: 3;
}
#div021:hover #p021{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div021:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 16eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div021{
    margin-top: 101%;
    margin-left: 24.8%;
  }
  #vitrail021{
    width: 20px;
    height: 14px;
    top: 0;
  }
  #div021:hover{
    margin-top: 85%;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div021{
    margin-top: 100%;
    margin-left: 22.9%;
  }
  #vitrail021{
    width: 10px;
    height: 8px;
    top: 0;
  }
  #div021:hover{
    width: 100px;
    margin-left: 4%;
    margin-top: 70%;
    position: absolute;
    z-index: 3;
  }
}
/*css de base de la 17eme div*/
#div022{
  display: inline-block;
  width: 10px;
  height: 24px;
  margin-top: 100%;
  margin-left: 69%;
  position: absolute;
  transform: rotate(90deg);
}
#p022{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail022{
  width: 40px;
  height: 20px;
}
/*Partie css de la 17eme div avec les hovers*/
#div022:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 98%;
  margin-left: 64%;
  position: absolute;
  transform: none;
  z-index: 3;
}
#div022:hover #p022{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div022:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 17eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div022{
    margin-top: 99.6%;
    margin-left: 68.2%;
  }
  #vitrail022{
    width: 20px;
    height: 14px;
    top: 0;
  }
  #div022:hover{
    margin-left: 63%;
    margin-top: 85%;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div022{
    margin-top: 96.5%;
    margin-left: 66%;
  }
  #vitrail022{
    width: 10px;
    height: 8px;
    top: 0;
  }
  #div022:hover{
    width: 100px;
    margin-left: 52%;
    margin-top: 70%;
    position: absolute;
    z-index: 3;
  }
}
/*css de base de la 18eme div*/
#div023{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top: 112%;
  margin-left: 25.8%;
  position: absolute;
  transform: rotate(90deg);
}
#p023{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail023{
  width: 40px;
  height: 20px;
}
/*Partie css de la 18eme div avec les hovers*/
#div023:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 110%;
  margin-left: 20%;
  position: absolute;
  transform: none;
}
#div023:hover #p023{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div023:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 18eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div023{
    margin-top: 112%;
    margin-left: 25.3%;
  }
  #vitrail023{
    width: 20px;
    height: 14px;
    top: 0;
  }
  #div023:hover{
    margin-top: 99%;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div023{
    margin-top: 110%;
    margin-left: 24.4%;
  }
  #vitrail023{
    width: 10px;
    height: 8px;
    top: 0;
  }
  #div023:hover{
    width: 100px;
    margin-left: 4%;
    margin-top: 70%;
    position: absolute;
    z-index: 3;
  }
}
/*css de base de la 19eme div*/
#div024{
  display: inline-block;
  width: 10px;
  height: 24px;
  margin-top: 111.8%;
  margin-left: 69%;
  position: absolute;
  transform: rotate(90deg);
}
#p024{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail024{
  width: 40px;
  height: 20px;
}
/*Partie css de la 19eme div avec les hovers*/
#div024:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 110%;
  margin-left: 64%;
  position: absolute;
  transform: none;
  z-index: 3;
}
#div024:hover #p024{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div024:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 19eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div024{
    margin-top: 111%;
    margin-left: 68.2%;
  }
  #vitrail024{
    width: 20px;
    height: 14px;
    top: 0;
  }
  #div024:hover{
    margin-left: 63%;
    margin-top: 99%;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div024{
    margin-top: 108%;
    margin-left: 66%;
  }
  #vitrail024{
    width: 10px;
    height: 8px;
    top: 0;
  }
  #div024:hover{
    width: 100px;
    margin-left: 52%;
    margin-top: 70%;
    position: absolute;
    z-index: 3;
  }
}
/*css de base de la 20eme div*/
#div025{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top: 137%;
  margin-left: 25.8%;
  position: absolute;
  transform: rotate(90deg);
}
#p025{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail025{
  width: 40px;
  height: 20px;
}
/*Partie css de la 20eme div avec les hovers*/
#div025:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 117%;
  margin-left: 20%;
  position: absolute;
  transform: none;
  z-index: 6;
}
#div025:hover #p025{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div025:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 20eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div025{
    margin-top: 137%;
    margin-left: 25.3%;
  }
  #vitrail025{
    width: 20px;
    height: 14px;
    top: 0;
  }
  #div025:hover{
    margin-top: 112%;
    z-index: 3;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div025{
    margin-top: 135%;
    margin-left: 24.4%;
  }
  #vitrail025{
    width: 10px;
    height: 8px;
    top: 0;
  }
  #div025:hover{
    width: 100px;
    margin-left: 4%;
    margin-top: 70%;
    position: absolute;
    z-index: 3;
  }
}
/*css de base de la 21eme div*/
#div026{
  display: inline-block;
  width: 10px;
  height: 24px;
  margin-top: 124.6%;
  margin-left: 69%;
  position: absolute;
  transform: rotate(90deg);
}
#p026{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail026{
  width: 40px;
  height: 20px;
}
/*Partie css de la 21eme div avec les hovers*/
#div026:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 117%;
  margin-left: 64%;
  position: absolute;
  transform: none;
  z-index: 3;
}
#div026:hover #p026{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div026:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 21eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div026{
    margin-top: 124%;
    margin-left: 68.2%;
  }
  #vitrail026{
    width: 20px;
    height: 14px;
    top: 0;
  }
  #div026:hover{
    margin-left: 63%;
    margin-top: 99%;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div026{
    margin-top: 121%;
    margin-left: 66%;
  }
  #vitrail026{
    width: 10px;
    height: 8px;
    top: 0;
  }
  #div026:hover{
    width: 100px;
    margin-left: 52%;
    margin-top: 68.5%;
    position: absolute;
    z-index: 3;
  }
}
/*css de base de la 22eme div*/
#div027{
  display: inline-block;
  width: 20px;
  height: 8px;
  margin-top: 143%;
  margin-left: 30%;
  position: absolute;
}
#p027{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail027{
  width: 40px;
  height: 20px;
}
/*Partie css de la 22eme div avec les hovers*/
#div027:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 117%;
  margin-left: 25%;
  position: absolute;
}
#div027:hover #p027{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div027:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 22eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div027{
    margin-top: 142.6%;
    margin-left: 30%;
  }
  #vitrail027{
    width: 20px;
    height: 14px;
    top: 0;
  }
  #div027:hover{
    margin-top: 108%;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div027{
    margin-top: 141%;
    margin-left: 28%;
    overflow-y: hidden;
  }
  #vitrail027{
    width: 10px;
    height: 20px;
    top: 0;
  }
  #div027:hover{
    width: 100px;
    margin-left: 14%;
    margin-top: 70%;
    position: absolute;
    z-index: 3;
    transform: none;
  }
}
/*css de base de la 23eme div*/
#div029{
  display: inline-block;
  width: 16px;
  height: 24px;
  margin-top: 143.2%;
  margin-left: 44.6%;
  position: absolute;
}
#div029_2{
  display: inline-block;
  width: 8px;
  height: 24px;
  margin-top: 143.2%;
  margin-left: 47.4%;
  position: absolute;
}
#p029, #p029_2{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail029, #vitrail029_2{
  width: 40px;
  height: 20px;
}
/*Partie css de la 23eme div avec les hovers*/
#div029:hover, #div029_2:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 117%;
  margin-left: 42%;
  position: absolute;
  z-index: 3;
}
#div029:hover #p029, #div029_2:hover #p029_2{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div029:hover img, #div029_2:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 23eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div029{
    margin-top: 142.5%;
    margin-left: 44.6%;
  }
  #div029_2{
    margin-top: 142.5%;
    margin-left: 47.2%;
  }
  #vitrail029, #vitrail029_2{
    width: 20px;
    height: 14px;
    top: 0;
  }
  #div029:hover, #div029_2:hover{
    margin-left: 42%;
    margin-top: 99%;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div029{
    margin-top: 139%;
    margin-left: 43%;
    overflow: hidden;
  }
  #div029_2{
    margin-top: 139%;
    margin-left: 46%;
    overflow: hidden;
  }
  #vitrail029{
    width: 10px;
    height: 8px;
    top: 0;
  }
  #vitrail029_2{
    width: 10px;
    height: 8px;
    top: 0;
  }
  #div029:hover, #div029_2:hover{
    width: 100px;
    margin-left: 28%;
    margin-top: 70%;
    position: absolute;
    z-index: 3;
  }
}
/*css de base de la 24eme div*/
#div030{
  display: inline-block;
  width: 10px;
  height: 20px;
  margin-top: 139.4%;
  margin-left: 63.8%;
  position: absolute;
  transform: rotate(90deg);
}
#div030_2{
  display: inline-block;
  width: 8px;
  height: 24px;
  margin-top: 143.2%;
  margin-left: 63.2%;
  position: absolute;
}
#p030, #p030_2{
  margin:0;
	left:0;
	right:0;
	text-align:center;
  opacity: 0;
  position: absolute;
}
#vitrail030, #vitrail030_2{
  width: 40px;
  height: 20px;
}
/*Partie css de la 24eme div avec les hovers*/
#div030:hover, #div030_2:hover{
  height: 50%;
  width: 10.7%;
  border: 5px solid #fff;
  margin-top: 115%;
  margin-left: 58%;
  position: absolute;
  transform: none;
}
#div030:hover #p030, #div030_2:hover #p030_2{
  position: absolute;
  bottom:0;
  background: #000;
  background: rgba(255,255,255,0.7);
  opacity: 1;
}
#div030:hover img, #div030_2:hover img{
  height: 100%;
  width: 100%;
}
/*partie du css de la 24eme div avec les medias queries pour gérer le responsive*/
/*gère le responsive pour les tablettes*/
@media screen and (max-width: 800px) {
  #div030{
    margin-top: 139.5%;
    margin-left: 63%;
  }
  #div030_2{
    margin-top: 143%;
    margin-left: 63%;
  }
  #vitrail030{
    width: 20px;
    height: 14px;
    top: 0;
  }
  #vitrail030_2{
    width: 18px;
    height: 14px;
    top: 0;
  }
  #div030:hover{
    margin-left: 57%;
    margin-top: 99%;
  }
  #div030_2:hover{
    margin-left: 57%;
    margin-top: 101%;
  }
}
/*gère le responsive pour les smartphones*/
@media screen and (max-width: 320px) {
  #div030{
    margin-top: 138%;
    margin-left: 60.8%;
    overflow: hidden;
  }
  #div030_2{
    margin-top: 140.4%;
    margin-left: 60.8%;
    overflow: hidden;
  }
  #vitrail030{
    width: 8px;
    height: 8px;
    top: 0;
  }
  #vitrail030_2{
    width: 10px;
    height: 8px;
    top: 0;
  }
  #div030:hover, #div030_2:hover{
    width: 100px;
    margin-left: 45%;
    margin-top: 70%;
    position: absolute;
    z-index: 3;
  }
}
